body{
    margin: 0 auto;
    display: grid;
    margin: auto;
    padding-top: 5em;
    align-items: center;
    justify-content: center; 
    text-align: center;
}
#magicball-form{
    display: grid;
    grid-row-gap: 24px;
}
.circle-1 {
    position: relative;
    height: 500px;
    width: 500px;
    background-color:black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.circle-2 {
    position:relative;
    height: 300px;
    width: 300px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: -150px 0px 0px -150px; */
   
}
#magicball-image{
    width: 200px;
}
#question{
    width: 300px;
    justify-self: center;
}
#submitButton{
    width: 200px;
    height: 80px;
    font-size: 1.5em;
    font: black;
    font-family: 'Roboto', sans-serif;
    background-color: #ccc;
    border-radius: 8px;
    border: none;
    text-align: center;
    justify-content: center;
    justify-self: center;
    
}
#answer{
    position:relative;
    font-size: 1.5em;
    
}